body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    align-content: center;
    background-color: #2E236C;
    color:#C8ACD6;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}
header{
    background-color: #17153B;
    align-content: center;
    text-transform: capitalize;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
section{
    display:list-item;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 95vh;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}
#first{
    text-transform: capitalize;
}
.parag{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#first>li{
    background-color: #433D8B;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
}
#first>li>a{
    color:#C8ACD6;
    text-decoration: none;
}
#second{
    background-color:#433D8B ;
    text-transform: capitalize;
}
#second>h2{
    background-color: #2E236C;
    text-align: center;
    padding:5px;
    border-radius: 10px;
}
#second>p{
    background-color: #2E236C;
    text-align: center;
    padding:5px;
    border-radius: 10px;
}
#second>li{
    background-color:#2E236C;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
}
#second>li>a{
    color:#C8ACD6;
    text-decoration: none;
}
#third{
    display: list-item;
    text-transform: capitalize;
}
#third>li{
    background-color: #433D8B;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
}
#third>li>a{
    color:#C8ACD6;
    text-decoration: none;
    text-transform: uppercase;
}

